.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.right {
  float: right !important;
}
.center-div {
  text-align: center;
}

.ui.items:not(.unstackable) > .item {
  flex-direction: unset !important;
}

.ui.items:not(.unstackable) > .item > .image + .content {
  padding-top: 0px;
  padding-left: 1.5em;
}